@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");
* {
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.bg-custom {
  background: linear-gradient(
    45deg,
    #ffcccc,
    #ccccff,
    #ffb6c1,
    #ffffff,
    #e6e6fa
  );
}

.p-container {
  display: flex;
  flex-direction: row;
}
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.right {
  flex: 1;
  border: 1px solid #ddd;
  padding: 10px;
  display: flex;
}
.sub {
  flex: 1;
  border: 1px solid #ddd;
  display: flex;
}

.item-box {
  background-color: #ddd7d7;
  border-radius: 10px;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.grid-item {
  background-color: #f1eded;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small {
  font-size: 16px;
}

@media (max-width: 768px) {
  .p-container {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-container {
    flex-direction: column;
  }
}
